*,::before, ::after{
  box-sizing: border-box;
}

body{
  background-color: #f2f2f2;
  font-family: 'PT Sans', sans-serif;
}

.container{
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-navigation{
  position: relative;
}

.main-navigation-list{
  display: flex;
  list-style: none;
  padding: 0 73px;
  margin: 0;
}

.top-logo{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 138px;
  height: 70px;
  background: url('img/toplogo.png');
}

.main-navigation-item{
    padding-top: 14px;
    padding-bottom: 16px;
    margin-right: 150px;
}

.main-navigation-item:nth-child(2){
  margin-right: auto;
}

.main-navigation-item:last-child{
  margin-right: 0;
}


.main-navigation-link{
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  outline: none;
}

.main-navigation-link_active{
  color: #766357;
}

.main-navigation-link:hover,
.main-navigation-link:focus{
  color: #81b3d2;
  transition: 0.6s;
}

.main-navigation-link:active{
  color: #b2b2b2;
  transition: 0.6s;
}

.navigation-link-active{
  color: #766357;
}



.main-banner{
  position: relative;
  height: 507px;
  background: url('img/main-background-text1.png') no-repeat center top 76px,
              url('img/main-background-text2.png') no-repeat center top 132px,
              url('img/main-background-text3.png') no-repeat center top 144px,
              url('img/main-background-text4.png') no-repeat center top 215px,
              url('img/main-background-text5.png') no-repeat center top 348px,
              url('img/main-background.png') no-repeat center top -56px;
  }

.main-banner::before{
  content: "";
  display: block;
  width: 704px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 56px solid transparent;
  border-left: 352px solid #fff;
  border-right: 352px solid #fff;

}

.main-banner::after{
  content: "";
  display: block;
  width: 1200px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 56px solid transparent;
  border-left: 600px solid #fff;
  border-right: 600px solid #fff;

}

main{

}

.main-title{
  width: 475px;
  margin: 0 auto;
  padding-top: 60px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-title{
  padding-top: 28px;
  padding-bottom: 51px;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

}

.advantages-box{
  display: flex;
  flex-wrap: wrap;
}

.advantages-item{
  width: 400px;
  height: 256px;
  padding: 0 50px;
  padding-top: 47px;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(4),
.advantages-item:nth-child(5){
  height: 330px;
}


.advantages-item:nth-child(1), .advantages-item:nth-child(7){
  background-color: #81b3d2;
  color: #fff;

}

.advantages-item:nth-child(2){
  width: 800px;
  background: url('img/bgitem.png');
}

.advantages-item:nth-child(3){
  background: url('img/icon-1.png') no-repeat center top 60px;
  color: #000;
}

.advantages-item:nth-child(3) .advantages-item-title,
.advantages-item:nth-child(4) .advantages-item-title,
.advantages-item:nth-child(5) .advantages-item-title
{
  margin-top: 115px;
  padding-bottom: 23px;
}


.advantages-item:nth-child(4){
  background: url('img/icon-3.png') no-repeat left 158px top 62px;
  color: #000;
}

.advantages-item:nth-child(5){
  background: url('img/icon-2.png') no-repeat center top 57px;
  color: #000;
}

.advantages-item:nth-child(6){
  width: 800px;
  background: url('img/bgitem1.png');
}

.advantages-item:nth-child(8),
.advantages-item:nth-child(9),
.advantages-item:nth-child(10){
  background-color: #eeeeee;
}

.advantages-item-title{
  margin: 0;
  padding-bottom: 26px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item-number{
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.advantages-item-text{
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  padding-top: 25px;
}

.advantages-item:nth-child(3) .advantages-item-text,
.advantages-item:nth-child(4) .advantages-item-text,
.advantages-item:nth-child(5) .advantages-item-text
{
  padding-top: 0px;
}

.hotel-order{
  position: relative;
  z-index: 3
}

.hotel-order-question{
  display: block;
  padding-top: 50px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.hotel-order-text{
  margin: 0;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 47px;
  text-transform: uppercase;
}

.hotel-order-button{
  font-family: 'PT Sans', sans-serif;
  display: block;
  width: 568px;
  margin: 0 auto;
  padding: 30px 0;
  background-color: #766357;
  color: #fff;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border: 0;
  transition: 0.6s;
}

.hotel-button-booking:hover, .hotel-order-button:hover{
  background-color: #604e43;

}

.hotel-button-booking:active, .hotel-order-button:active{
  background-color: #503e33;
  color: #857871;
}



.hotel-order-form{
  display: none;
  width: 568px;
  padding: 55px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left:-284px;
  animation-name: animation-form;
  animation-duration: 1s;
}

@keyframes animation-form {
  0%{
    opacity: 0;
}

  100%{
    opacity: 1;
  }

}

.form-show{
  display: block;
}

.hotel-order-form span{
  padding-top: 5px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-order-form input[name=arrival_date],
.hotel-order-form input[name=date_of_departure]{
  width: 346px;
  height: 38px;
  border: 2px solid #f2f2f2;
  margin-bottom: 30px;
  background: #f2f2f2 url('img/calendar.png') no-repeat center right 8px;
  outline: none;
  transition: 0.6s;
}

.hotel-order-form input[name=arrival_date]:hover,
.hotel-order-form input[name=date_of_departure]:hover{
  background: #ebebeb url('img/calendar-hover.png') no-repeat center right 8px;
  border-color: #ebebeb;
}

.hotel-order-form input[name=arrival_date]:focus,
.hotel-order-form input[name=date_of_departure]:focus{
  background: #fff url('img/calendar-active.png') no-repeat center right 8px;
  border: 2px solid #e5e5e5;
}



.order-form-item{
  display: flex;
}

.arrival_date, .date_of_departure, .adults, .babies{
  margin-right: auto;
}

.babies{
  margin-left: 52px;
  margin-right: 25px;
}


.input-number{
  display: flex;
  width: 115px;
  height: 38px;
  background-color: #f2f2f2;
  border: 0;
  margin-bottom: 54px;
}

.input-number-item{
  position: relative;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: 0;
  text-align: center;
  outline: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

}

.number-item-line:hover::after, .number-item-line_v:hover::before{
  border-color: #000;
}

.number-item-line:active::after, .number-item-line_v:active::before{
  border-color: #81b3d2;
}



.number-item-line::after{
  content: "";
  display: block;
  width: 11px;
  border-bottom: 3px solid #a9a9a9;
  margin: 0 auto;
  position: absolute;
  left: 14px;
  top: 17px;
  transition: 0.6s;
}

.number-item-line_v::before{
  content: "";
  display: block;
  height: 11px;
  border-right: 3px solid #a9a9a9;
  margin: 0 auto;
  position: absolute;
  left: 18px;
  top: 13px;
  transition: 0.6s;
}


.hotel-order-form input[type=submit]{
  display: block;
  width: 100%;
  padding: 16px 0;
  color: #fff;
  background-color: #81b3d2;
  border: 0;
  outline: none;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.6s;
}

.hotel-button-information:hover, .hotel-order-form input[type=submit]:hover{
  background-color: #669ec0;

}

.hotel-button-information:active, .hotel-order-form input[type=submit]:active{
  background-color: #5496bd;
  color: #88b6d1;
}

.main-maps{
  height: 593px;
  margin-bottom: -120px;
  background: url('img/map.png');
}

.main-footer{
  display: flex;
  height: 120px;
  padding: 37px 0;
  background-color: rgba(255, 255, 255, 0.9)
}

.main-footer-item{
  width: 400px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.footer-tag{
  padding-top: 9px;
  color: #000;
  text-decoration: none;

}

.footer-tag-mod{
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
    text-align: left;
    color: #000;
    text-decoration: none;
    padding-top: 9px;
    padding-left: 104px;
    background: url('img/logo_name.png') no-repeat top 2px right 101px;;
}

.footer-tag-mod:hover{
  background-image: url('img/logo_name-hover.png');
  transition: 0.6s;
}

.footer-tag-mod:active{
  background-image: url('img/logo_name-active.png');
  transition: 0.6s;
}



.social-box{
  text-align: center;
}

.social-box-item{
  display: inline-block;
  width: 46px;
  height: 48px;
}

.social-box-item:nth-child(1){
  background: #81b3d2 url('img/t-icon.png') no-repeat center;
}

.social-box-item:nth-child(2){
  background: #81b3d2 url('img/fb-icon.png') no-repeat center;
}

.social-box-item:nth-child(3){
  background: #81b3d2 url('img/youtube-icon.png') no-repeat center;
}

.social-box-item:hover{
  background-color: #669ec0;
  transition: 0.6s;
}

.social-box-item:nth-child(1):active{
  background: #5496bd url('img/t-icon-opacity.png') no-repeat center;

}

.social-box-item:nth-child(2):active{
  background: #5496bd url('img/fb-icon-opacity.png') no-repeat center;
}

.social-box-item:nth-child(3):active{
  background: #5496bd url('img/youtube-icon-opacity.png') no-repeat center;
}



/*=============HOTEL================*/



.hotel-filter{
  height: 217px;
  padding: 0 72px;
  padding-top: 28px;
  background: url('img/hotel/banner.png');
}

.hotel-filter-form{
  display: flex;
}

.filter-item{
  width: 200px;
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 55px;
  padding-left: 2px;
}

.filter-title{
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  margin-bottom: 24px;
}

.filter-item input[type='checkbox']{
    display: none;
}

.filtet-item-string{
  display: block;
  height: 22px;
  margin-bottom: 23px;
  padding-left: 40px;
  padding-top: 1px;
  background: url('img/hotel/checkbox-off.png') no-repeat left 0px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
}

.filtet-item-string_block{
  background-image: url('img/hotel/checkbox-off-block.png');
}

.filtet-item-string_onblock{
  background-image: url('img/hotel/checkbox-on-block.png');
}


.filter-item input[type='checkbox']:checked + .filtet-item-string{
  background-image: url('img/hotel/checkbox-on.png');
}

.filter-price{
  margin-left: auto;
  margin-right: -2px;

}

.price-title{
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}

.price-number{
  position: relative;
  display: flex;
  width: 319px;
  height: 36px;
  margin-bottom: 19px;
  border: 2px solid #fff;
  border-radius: 3px;
}
.price-number::before{
  content: "";
  display: block;
  height: 22px;
  border-left: 2px solid #fff;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);

}

.price-number input{
  width: 158px;
  background: none;
  border: none;
  outline: none;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

}

.price-number  input::placeholder{
  color: #fff;
}

.price-line{
  position: relative;
  width: 318px;
  border-bottom: 2px solid #808385;
  margin-bottom: 32px;
}

.price-line-inner{
  position: absolute;
  top: 0px;
  left: 14px;
  width: 247px;
  border-bottom: 2px solid #fff;

}

.price-circle{
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -9px;
  cursor: pointer;
  transition: 0.2s;
}

.price-circle:hover{
  width: 22px;
  height: 22px;
  top: -10px;
}

.price-circle::before{
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ababab;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.price-circle_mod{
  left: 253px;
}

.hotel-filter-submit{
  display: block;
  width: 137px;
  height: 36px;
  border: 2px solid #fff;
  border-radius: 3px;
  outline: none;
  background: none;
  margin: 0 auto;
  transform: translateX(-7px);
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: 1.5s;

}

.hotel-filter-submit:hover{
  background-color: #fff;
  color: #000;
}

.sorting{
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 72px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-result{
  display: inline-block;
  margin-right: 48px;
  padding-left: 1px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.sorting-title{
  margin-right: 43px;
  padding-top: 7px;
}

.sorting-type{
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000;
  margin-right: 33px;
  padding-top: 7px;
  transition: 0.6s;
}

.sorting-type::before{
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px dotted #81b3d2;
  position: absolute;
  bottom: 3px;

}

.sorting-type:hover{
  color: #81b3d2;
}

.sorting-type:active{
  color: #000;
  border: none;
}

.sorting-type:active::before{
  border: none;
}


.sorting-type_active{
  color: #81b3d2;
  border: none;
}

.sorting-type_active::before{
  display: none;
}


.to{
  display: block;
  width: 11px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transition: 0.6s;

}

.to-min{
  border-bottom: 10px solid  #cacaca;
  margin-bottom: 5px;
  margin-right: 12px;
  margin-left: auto;
}

.to-max{
  border-bottom: 10px solid  #cacaca;
  margin-top: 10px;
  transform: rotate(180deg);
}

.to-active{
  border-bottom: 10px solid  #81b3d2;
}

.to:hover{
  border-bottom: 10px solid  #000;
}

.to:active{
  border-bottom: 10px solid  #81b3d2;
}

.hotel-list{
  margin: 0;
  padding: 0 72px;
  list-style: none;
}

.hotel-list-item{
  display: flex;
  padding-top: 25px;
  padding-bottom: 30px;
  position: relative;
}

.hotel-list-item::before{
  content: "";
  display: block;
  width: 1200px;
  position: absolute;
  top: 100%;
  left: -72px;;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-img{
  width: 135px;
  height: 90px;
  margin-right: 30px;
  margin-top: 5px;
  margin-left: 1px;
}

.hotel-information{
  width: 260px;
  margin-right: auto;
}

.hotel-title{
  display: block;
  margin: 0;
  margin-bottom: 6px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  transition: 0.6s;
}

.hotel-title:hover{
  color: #81b3d2;
}

.hotel-title:active{
  color: #b2b2b2;
}

.hotel-content-box{
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 15px;

}

.hotel-type{
  display: inline-block;
  width: 100px;
  margin-right: 11px;
  padding-top: 1px;
}

.hotel-button{
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3px 17px;
  transition: 0.6s;

}

.hotel-button-information{
  width: 110px;
  background-color: #81b3d2;
}

.hotel-button-booking{
  width: 142px;
  background-color: #766357;
}

.hotel-rating{
  position: relative;
  width: 110px;
}

.rating-number{
  width: 110px;
  padding: 3px 0;
  padding-left: 5px;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #666666;
  position: absolute;
  right: 0;
  bottom: 0;

}

.rating-star{
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  padding-top: 4px;
}

.rating-star-item{
  background: url('img/hotel/star.png');
  width: 18px;
  height: 17px;
  margin-left: 5px;
}
